In [32]:
import pandas as pd
import numpy as np

In [37]:
wf = pd.read_csv('unigram_freq.csv')


wf['len'] = wf["word"].str.len()

wf.head()

  word        count  len
0  the  23135851162  3.0
1   of  13151942776  2.0
2  and  12997637966  3.0
3   to  12136980858  2.0
4    a   9081174698  1.0

In [38]:
wf = wf[wf['len'] == 5]
wf.head()

     word       count  len
35  about  1226734006  5.0
45  other   978481319  5.0
56  which   810514085  5.0
57  their   782849411  5.0
62  there   701170205  5.0

In [33]:
def NormalizeData(data):
    return (data - np.min(data)) / (np.max(data) - np.min(data))

In [ ]:
wf['prob'] = NormalizeData(wf['count'])
wf.head()

In [36]:
wf['prob'] = wf['count']/sum(wf['count'])
wf.head()

     word       count  len      prob
35  about  1226734006  5.0  0.017723
45  other   978481319  5.0  0.014136
56  which   810514085  5.0  0.011709
57  their   782849411  5.0  0.011310
62  there   701170205  5.0  0.010130

In [41]:
wf = wf[['word','count']]
wf

         word       count
35      about  1226734006
45      other   978481319
56      which   810514085
57      their   782849411
62      there   701170205
...       ...         ...
333307  goovo       12711
333308  goova       12711
333320  goolh       12711
333328  gooek       12711
333332  golgw       12711

[39933 rows x 2 columns]

In [42]:
allowed = pd.read_csv('12972_allowed_words_entroy.txt',delimiter=" ",names=['word','entropy'])
allowed.head()

    word   entropy
0  aahed  4.291696
1  aalii  3.701130
2  aargh  3.979746
3  aarti  4.619455
4  abaca  2.991318

In [65]:
wordproba  = wf.merge(allowed,how='right')
wordproba

        word    count   entropy
0      aahed      NaN  4.291696
1      aalii      NaN  3.701130
2      aargh  71592.0  3.979746
3      aarti  63273.0  4.619455
4      abaca  79841.0  2.991318
...      ...      ...       ...
12967  zuzim      NaN  2.830609
12968  zygal      NaN  3.730280
12969  zygon  15300.0  3.502955
12970  zymes  24137.0  4.399831
12971  zymic  30459.0  3.326320

[12972 rows x 3 columns]

In [66]:
wordproba = wordproba.fillna(min(wordproba.dropna()['count']))
wordproba

        word    count   entropy
0      aahed  12716.0  4.291696
1      aalii  12716.0  3.701130
2      aargh  71592.0  3.979746
3      aarti  63273.0  4.619455
4      abaca  79841.0  2.991318
...      ...      ...       ...
12967  zuzim  12716.0  2.830609
12968  zygal  12716.0  3.730280
12969  zygon  15300.0  3.502955
12970  zymes  24137.0  4.399831
12971  zymic  30459.0  3.326320

[12972 rows x 3 columns]

In [68]:
wordproba['prob'] = wordproba['count']/max(wordproba['count']) * 100

In [70]:
wordproba = wordproba[['word','prob']]
wordproba

        word      prob
0      aahed  0.001037
1      aalii  0.001037
2      aargh  0.005836
3      aarti  0.005158
4      abaca  0.006508
...      ...       ...
12967  zuzim  0.001037
12968  zygal  0.001037
12969  zygon  0.001247
12970  zymes  0.001968
12971  zymic  0.002483

[12972 rows x 2 columns]

In [57]:
wordproba.to_csv('word_frequency.csv',index= 0)