In [23]:
import pandas as pd
import numpy as np
import string

wordlen = 5

def calWordScore(allowed):
        frequency = { ch : [0] * 5 for ch in string.ascii_lowercase}
        for word in allowed:
            for i in range(0,5):
                frequency[word[i]][i] += 1
        
        matrix  = pd.DataFrame(frequency).T
        matrix  = (matrix-matrix.min())/(matrix.max()-matrix.min())
        matrix = matrix.T.to_dict()

        wordScore = {}
        for word in allowed:
            score = 0
            for i in range(0,5):
                score += matrix[word[i]][i]
            wordScore.update({word: round(score,3)})
        #print(wordScore)
        return wordScore

In [24]:
wf = pd.read_csv('unigram_freq.csv')
wf['len'] = wf["word"].str.len()
wf = wf[wf['len'] == wordlen]
wf = wf[['word','count']]
wf['prob'] = (wf['count']- wf['count'].min())/( wf['count'].max()- wf['count'].min())

allowed = pd.read_csv('12972_allowed_words_entroy.txt',delimiter=" ",names=['word','entropy'])
wordproba  = wf.merge(allowed,how='right')
wordproba = wordproba.fillna(0.0)

wordproba = wordproba[['word','entropy','prob']]
pf = pd.DataFrame(calWordScore(allowed.word.values),index = ["posFreq"]).T
wordproba = wordproba.merge(pf,how='right',right_index= True,left_on="word")
wordproba

        word   entropy      prob  posFreq
0      aahed  4.291696  0.000000    2.760
1      aalii  3.701130  0.000000    2.596
2      aargh  3.979746  0.000048    2.708
3      aarti  4.619455  0.000041    2.890
4      abaca  2.991318  0.000055    1.844
...      ...       ...       ...      ...
12967  zuzim  2.830609  0.000000    1.108
12968  zygal  3.730280  0.000000    1.041
12969  zygon  3.502955  0.000002    0.893
12970  zymes  4.399831  0.000009    2.580
12971  zymic  3.326320  0.000014    0.989

[12972 rows x 4 columns]

In [25]:
wordproba.describe()

            entropy          prob       posFreq
count  12972.000000  12972.000000  12972.000000
mean       4.540141      0.003969      2.521574
std        0.627250      0.025490      0.637885
min        1.900629      0.000000      0.530000
25%        4.143419      0.000000      2.066000
50%        4.588342      0.000024      2.494500
75%        4.990755      0.000368      2.961000
max        6.194053      1.000000      4.895000

In [17]:
wordproba.loc[wordproba['prob'] < 0.000024,"prob"] = 0
wordproba.loc[wordproba['prob'] > 0.003969,"prob"] = 0.003969

In [26]:
wordproba['prob'] =  wordproba['posFreq'] *  wordproba['prob'] 
#wordproba['posEntropy'] = (wordproba['entropy']  + wordproba['posFreq'] )/2
wordproba

        word   entropy      prob  posFreq
0      aahed  4.291696  0.000000    2.760
1      aalii  3.701130  0.000000    2.596
2      aargh  3.979746  0.000130    2.708
3      aarti  4.619455  0.000119    2.890
4      abaca  2.991318  0.000101    1.844
...      ...       ...       ...      ...
12967  zuzim  2.830609  0.000000    1.108
12968  zygal  3.730280  0.000000    1.041
12969  zygon  3.502955  0.000002    0.893
12970  zymes  4.399831  0.000024    2.580
12971  zymic  3.326320  0.000014    0.989

[12972 rows x 4 columns]

In [27]:
wordproba.describe()

            entropy          prob       posFreq
count  12972.000000  12972.000000  12972.000000
mean       4.540141      0.009733      2.521574
std        0.627250      0.058045      0.637885
min        1.900629      0.000000      0.530000
25%        4.143419      0.000000      2.066000
50%        4.588342      0.000060      2.494500
75%        4.990755      0.000939      2.961000
max        6.194053      1.653000      4.895000

In [142]:
#wordproba.set_index('word',inplace= True)
#wordproba.loc['ratch']

In [28]:
wordproba1 = wordproba[['word','prob']]

In [29]:
wordproba1

        word      prob
0      aahed  0.000000
1      aalii  0.000000
2      aargh  0.000130
3      aarti  0.000119
4      abaca  0.000101
...      ...       ...
12967  zuzim  0.000000
12968  zygal  0.000000
12969  zygon  0.000002
12970  zymes  0.000024
12971  zymic  0.000014

[12972 rows x 2 columns]

In [22]:
wordproba1.to_csv('word_frequency.csv',index=False)

In [180]:
wordproba2 = wordproba[['word','posFreq']]
wordproba2.to_csv('12972_allowed_words_entroy.txt',index=False)